* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%; /* Resta el ancho de la sidebar */
    margin: 20px auto;
    margin-left: 0%; /* Deja espacio para la sidebar */
    margin-right: 0%; /* Deja espacio al borde derecho */
    padding: 20px;
}

.inscripcion-container * {
    box-sizing: border-box;
}

.inscripcion-container body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
    margin: 0;
    padding: 0;
}

.inscripcion-container .container {
    width: 100%;
    margin: 20px auto;
    margin-left: 0%;
    margin-right: 0%;
    padding: 20px;
}

.inscripcion-container h1 {
    text-align: center;
    font-size: 3em;
}

.inscripcion-container form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

h1 {
    text-align: center;
    font-size: 3em;
}

fieldset {
    width: 100%;
    border: none;
    grid-column: span 2; /* Asegura que el fieldset ocupe todo el ancho */
}

legend {
    font-size: 2em; /* Tamaño real: 2em */
    margin-bottom: 10px;
    grid-column: span 2; /* Ocupa el ancho completo */
}

.form-group {
    flex: 1 1 100%; /* Hace que los elementos ocupen toda la fila */
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], input[type="number"], input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

/* Checkboxes alineadas horizontalmente */
.checkbox-group {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Ocultar el checkbox original */
.custom-checkbox {
    display: none;
}

/* Estilos del label que representa el checkbox */
.custom-checkbox + label {
    position: relative;
    padding-left: 40px; /* Espacio para la casilla personalizada */
    cursor: pointer;
    font-size: 1.5em; /* Agrandar el texto si es necesario */
}

/* Crear la casilla personalizada */
.custom-checkbox + label::before {
    content: ""; /* Crear un cuadro vacío */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 30px; /* Ajustar el tamaño de la casilla */
    height: 30px;
    border: 2px solid #000; /* Borde de la casilla */
    border-radius: 5px;
    background-color: #fff; /* Fondo blanco */
}

/* Casilla marcada con "X" */
.custom-checkbox:checked + label::before {
    content: "X"; /* Mostrar una "X" en lugar de un "tick" */
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em; /* Tamaño de la "X" */
    font-weight: bold;
}

/* Contenedor del botón */
.button-container {
    display: flex;
    justify-content: center; /* Centra el botón horizontalmente */
    align-items: center;     /* Centra el botón verticalmente si es necesario */
    width: 100%;             /* Asegura que ocupe todo el ancho */
    margin-top: 20px;        /* Ajusta el margen superior según tus necesidades */
    grid-column: span 2; /* Asegura que el botón ocupe todo el ancho */
}

/* Estilos específicos para el botón de enviar */
.send-button {
    display: block;
    width: 150px; /* Ajusta este valor según sea necesario */
    padding: 10px;
    background-color: #DD211C;
    color: white; /* Color de texto negro */
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra ligera */
    transition: background-color 0.3s ease; /* Transición suave para hover */
}

.send-button:hover {
    background-color: #d64540; 
}

.image-button {
    background-color: transparent; /* Sin fondo */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    margin-left: 690%;
    margin-top: 35%;
}

.image-button:hover {
    transform: scale(1.1); /* Aumenta el tamaño de la imagen al 110% */
}

.back-button {
    position: absolute;
    top: 5px;
    left: 0;
}

.image-button img {
    width: 30px; /* Ancho de la imagen */
    height: 30px; /* Alto de la imagen */
}

/* Estilos para la tabla de la empresa */
table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
}

th, td {
    border: 1px solid #000;
    padding: 10px;
    text-align: left;
}

th {
    background-color: white;
    font-weight: bold;
}

td {
    background-color: white;
}

table input[type="text"] {
    width: 100%;
    padding: 8px;
    border: none;
    background-color: white;
    box-sizing: border-box;
}

/* Eliminar el borde al hacer clic (enfocar) en los inputs */
table input[type="text"]:focus {
    outline: none; /* Elimina el borde azul o resaltado al hacer clic */
    border: none;  /* Elimina el borde que aparece al hacer clic */
}

@media (min-width: 768px) {
    .form-group {
        flex: 1 1 calc(50% - 20px); /* Ajusta a dos columnas en pantallas grandes */
    }
}

@media (max-width: 768px) {
    .container {
        margin-left: 0; /* Centra el contenido en pantallas pequeñas */
        width: 100%;
    }
}