{% extends 'base_coordinador.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/carga_masiva_estudiante.css' %}">
    <div class="carga-masiva-container">
        <h1>Carga Masiva</h1>
        <div class="botones-carga">
            <button class="btn" onclick="window.history.back();">Volver</button>
            <a href="{% url 'descargar_plantilla_estudiantes' %}" class="btn">Descargar Plantilla</a>
            <button class="btn" id="btnSubirCarga">Subir Carga Masiva</button>
        </div>
        <div>
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          </div>
        {% if estudiantes %}
        <table class="table-preview" id="tablePreview">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Rut</th>
                    <th>Domicilio</th>
                    <th>Número de teléfono</th>
                    <th>Correo Electrónico</th>
                    <th>Carrera</th>
                </tr>
            </thead>
            <tbody>
                {% for estudiante in estudiantes %}
                <tr>
                    <td>{{ estudiante.Nombre }}</td>
                    <td>{{ estudiante.Rut }}</td>
                    <td>{{ estudiante.Domicilio }}</td>
                    <td>{{ estudiante.numero_telefono }}</td>
                    <td>{{ estudiante.CorreoElectronico }}</td>
                    <td>{{ estudiante.Carrera }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <form method="POST" action="{% url 'previsualizar_estudiantes' %}">
            {% csrf_token %}
            <button type="submit"  class="btn btn-add-list">Añadir Listado</button>
        </form>
        {% elif error %}
            <div class="error-message">{{ error }}</div>
        {% endif %}
    </div>
    <div id="modalSubirArchivo" class="modal">
        <div class="modal-content">
            <form method="POST" enctype="multipart/form-data" id="formSubirArchivo" class="form-upload">
                {% csrf_token %}
                <label class="file-upload" for="archivo" id="uploadLabel">
                    <h2>Subir Carga Masiva</h2>
                    <img src="{% static 'Subir_png.svg' %}" alt="Icono de subir archivo">
                    <p>Busca un archivo o arrástralo aquí</p>
                    <input type="file" id="archivo" name="archivo" accept=".xlsx">
                    <div id="fileDetails" class="file-details" style="display: none;">
                        <p id="fileName"></p>
                        <img src="{% static 'Delete.svg' %}" id="deleteFile" alt="Eliminar archivo">
                    </div>
                </label>
                <button class="close-btn" type="submit">Subir Archivo</button>
            </form>
        </div>
    </div>
    <script src="{% static 'js/carga_masiva_estudiante.js' %}"></script>
{% endblock %}