{% extends 'base_coordinador.html' %}
{% load static %}

{% block content %}

<div class="back-button">
    <a href="javascript:history.back()" class="back-arrow">
        <img src="{% static 'icons/arrow_back.svg' %}" alt="Volver" style="width: 30px; height: 30px;">
    </a>
</div>

<div class="container">
    <h1>Configurar Fechas de la Práctica</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="fecha_inicio_limite">Fecha de Inicio:</label>
            <input type="date" id="fecha_inicio_limite" name="fecha_inicio_limite" class="form-control" value="{{ practica_config.fecha_inicio_limite }}">
        </div>
        <div class="form-group">
            <label for="fecha_termino_limite">Fecha de Término:</label>
            <input type="date" id="fecha_termino_limite" name="fecha_termino_limite" class="form-control" value="{{ practica_config.fecha_termino_limite }}">
        </div>
        <button type="submit" class="btn btn-primary mt-3">Guardar</button>
    </form>
</div>
{% endblock %}
