{% comment %} {% extends 'base.html' %} {% endcomment %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coordinadores</title>
</head>
<body>
    <h1>Lista de Coordinadores</h1>

    <!-- Botón para añadir estudiantes -->
    <div style="margin-bottom: 20px;">
        <button onclick="window.location.href='{% url 'coordinador:nuevo_coordinador' %}'">Añadir Estudiantes</button>
    </div>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>RUT</th>
                <th>Domicilio</th>
                <th>Carrera</th>
            </tr>
        </thead>
        <tbody>
            {% for coordinador in coordinadores %}
            <tr>
                <td>{{ coordinador.pk }}</td>
                <td>{{ coordinador.usuario.nombre }}</td>
                <td>{{ coordinador.usuario.correo }}</td>
                <td>{{ estudiante.rut }}</td>
                <td>{{ estudiante.domicilio }}</td>
                <td>{{ estudiante.carrera }}</td>
                
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No hay estudiantes registrados.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
{% endblock %}