{% extends 'base_coordinador.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/listado_estudiantes.css' %}">
<div class="container">

    <!-- Detalle del estudiante -->
    <div class="form-header">
        <h1>Detalle del Estudiante</h1>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h3 class="card-title text-secondary">{{ estudiante.usuario.first_name }} {{ estudiante.usuario.last_name }}</h3>
            <p><strong>Correo Electrónico:</strong> {{ estudiante.usuario.email }}</p>
            <p><strong>RUT:</strong> {{ estudiante.rut }}</p>
            <p><strong>Domicilio:</strong> {{ estudiante.domicilio }}</p>
            <p><strong>Número de Teléfono:</strong> {{ estudiante.numero_telefono }}</p>
            <p><strong>Carrera:</strong> {{ estudiante.carrera }}</p>
        </div>
    </div>

    <!-- Listado de prácticas -->
    <div class="form-header mb-3">
        <h2>Prácticas del Estudiante</h2>
    </div>

    <div class="row gy-3">
        {% for ficha in fichas_inscripcion %}
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-light d-flex justify-content-between align-items-center">
                    <span class="text-secondary fw-bold">
                        {% if ficha.practica1 %}
                            Práctica I
                        {% elif ficha.practica2 %}
                            Práctica II
                        {% else %}
                            Sin práctica seleccionada
                        {% endif %}
                    </span>

                </div>
                <div class="card-body">
                    <p><strong>Estado:</strong> {{ ficha.practica.get_estado_display }}</p>
                    <p><strong>Fecha de Inscripción:</strong> {{ ficha.practica.fecha_inscripcion }}</p>
                    <p><strong>Nota:</strong> {{ ficha.practica.nota|default:"No registrada" }}</p>
                </div>
                <div class="button-container">
                    <a href="{% url 'detalle_practica_coordinador' ficha.id %}" class="btn btn-primary btn-sm">Detalle</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-muted">No hay prácticas registradas para este estudiante.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
