{% extends 'base_coordinador.html' %}

{% load static %}

{% block title %}Detalle de Práctica Profesional{% endblock %}

{% block content %}
<div>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/detallepractica.css' %}">
</div>
<div class="main-content">
    <a href="javascript:history.back()">
        <img src="{% static 'icons/arrow_back.svg' %}" alt="Volver" style="width: 30px; height: 30px;">
    </a>
    
    <h1>{{ ficha_inscripcion.practica1|yesno:"PRÁCTICA I,PRÁCTICA II" }}</h1>

    <!-- Card para Ficha de Inscripción -->
<div class="card">
    <div class="card-header">
        <img src="{% static 'icons/icon_info.svg' %}" style="width: 25px; margin-right: 10px;">
        <span>Ficha de Inscripción Práctica Profesional</span>
    </div>
    <div class="card-data">
        {% if ficha_inscripcion %}
            <p>Estado: {{ ficha_inscripcion.get_estado_display }}</p>
            <div class="action-buttons-container">
                <a href="{% url 'ver_formulario' ficha_inscripcion.pk %}">
                    <button class="action-button">Ver ficha</button>
                </a>
                {% if ficha_inscripcion.estado == 'Aprobada' %}
                    <a href="{% url 'generar_pdf_practica' ficha_inscripcion.pk %}">
                        <button class="action-button">Descargar carta de aprobación</button>
                    </a>
                {% endif %}
            </div>
        {% else %}
            <p>No se ha subido la ficha de inscripción.</p>
        {% endif %}
    </div>
</div>

<!-- Card para Informe de Avances -->
<div class="card">
    <div class="card-header">
        <img src="{% static 'icons/icon_info.svg' %}" style="width: 25px; margin-right: 10px;">
        <span>Informe de Avances</span>
    </div>
    <div class="card-data">
        {% if informe_avances %}
            <p>Este informe se presenta a la mitad de la práctica para detallar avances, logros y desafíos. Es esencial para la retroalimentación del supervisor.</p>
            <div class="action-buttons-container">
                <a href="{% url 'descargar_informe' informe_avances.practica.id %}">
                    <button class="action-button">Ver informe</button>
                </a>
                <a href="{% url 'evaluar_informe_avances' informe_avances.practica.id %}">
                    <button class="action-button">Evaluar informe</button>
                </a>
            </div>
        {% else %}
            <p>No se ha subido el informe de avances.</p>
        {% endif %}
    </div>
</div>

<!-- Card para Informe Final -->
<div class="card">
    <div class="card-header">
        <img src="{% static 'icons/icon_info.svg' %}" style="width: 25px; margin-right: 10px;">
        <span>Informe Final</span>
    </div>
    <div class="card-data">
        {% if informe_final %}
            <p>Documento final que resume todas las actividades, logros y aprendizajes durante la práctica profesional.</p>
                            <div class="action-buttons-container">
                                {% if practica.informefinal_set.exists %}
                    <a href="{{ practica.informefinal_set.last.archivo_informe_final.url }}" 
                    class="action-button" target="_blank">Descargar Informe</a>
                {% else %}
                    <p>No hay informe final disponible.</p>
                {% endif %}
                <a href="{% url 'evaluar_informe_final' informe_final.practica.id %}">
                    <button class="action-button">Evaluar informe</button>
                </a>
            </div>
        {% else %}
            <p>No se ha subido el informe final.</p>
        {% endif %}
    </div>
</div>

<!-- Card para Autoevaluación -->
<div class="card">
    <div class="card-header">
        <img src="{% static 'icons/Check_circle_white.svg' %}" style="width: 25px; margin-right: 10px;">
        <span>Autoevaluación</span>
    </div>
    <div class="card-data">
        {% if autoevaluacion %}
            <p>La Autoevaluación es un documento que el estudiante completa al final de su práctica profesional. En este informe, el estudiante reflexiona sobre su desempeño, habilidades adquiridas y aprendizajes. Es fundamental para la evaluación final y se debe enviar junto con el informe final de la práctica.</p>
            <p>Nota: {{ nota_autoevaluacion }}</p>
            <a href="{% url 'revisar_autoevaluacion' ficha_inscripcion.practica.id %}">
                <button class="action-button">Ver Autoevaluación</button>
            </a>
            <button class="action-button" onclick="openAutoevaluacionModal(
                {{ ficha_inscripcion.practica.id }},
                '{{ ficha_inscripcion.estudiante.usuario.first_name }} {{ ficha_inscripcion.estudiante.usuario.last_name }}',
                '{{ nota_autoevaluacion|default:"No Nota" }}'
            )">
                Editar Nota
            </button>
        {% else %}
            <p>No se ha subido la autoevaluación.</p>
        {% endif %}
    </div>
</div>

<!-- Card para Informe Confidencial -->
<div class="card">
    <div class="card-header">
        <img src="{% static 'icons/icon_info.svg' %}" style="width: 25px; margin-right: 10px;">
        <span>Informe Confidencial</span>
    </div>
    <div class="card-data">
        {% if informe_confidencial %}
            <p>El supervisor entrega una evaluación confidencial sobre el desempeño del estudiante durante la práctica.</p>
            <p>Nota: {{ informe_confidencial.nota }}</p>
            <a href="{% url 'editar_informe_confidencial' informe_confidencial.id %}">
                <button class="action-button">Ver informe confidencial</button>
            </a>
            <button class="action-button" onclick="openInformeConfidencialModal(
                {{ ficha_inscripcion.practica.id }},
                '{{ ficha_inscripcion.estudiante.usuario.first_name }} {{ ficha_inscripcion.estudiante.usuario.last_name }}',
                '{{ informe_confidencial.nota|default:"No Nota" }}'
            )">
                Editar Nota
            </button>
        {% else %}
            <p>No se ha subido el informe confidencial.</p>
        {% endif %}
    </div>
</div>
</div>

<!-- Modales -->
<div id="editAutoevaluacionModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Editar Nota de Autoevaluación</h2>
        <form method="post" action="{% url 'actualizar_nota' %}">
            {% csrf_token %}
            <input type="hidden" name="practica_id" id="autoevaluacion-practica-id">
            <label for="nota">Nueva Nota:</label>
            <input type="text" name="nota" id="autoevaluacion-nota" required>
            <button type="submit" class="button">Guardar Nota</button>
        </form>
    </div>
</div>

<div id="editInformeConfidencialModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Editar Nota de Informe Confidencial</h2>
        <form method="post" action="{% url 'actualizar_nota_informe_confidencial' %}">
            {% csrf_token %}
            <input type="hidden" name="practica_id" id="informe-practica-id">
            <label for="nota">Nueva Nota:</label>
            <input type="text" name="nota" id="informe-nota" required>
            <button type="submit" class="button">Guardar Nota</button>
        </form>
    </div>
</div>

<script>
    function openAutoevaluacionModal(practicaId, studentName, nota) {
        document.getElementById("autoevaluacion-practica-id").value = practicaId;
        document.getElementById("autoevaluacion-nota").value = nota;
        document.getElementById("editAutoevaluacionModal").style.display = "block";
    }

    function openInformeConfidencialModal(practicaId, studentName, nota) {
        document.getElementById("informe-practica-id").value = practicaId;
        document.getElementById("informe-nota").value = nota;
        document.getElementById("editInformeConfidencialModal").style.display = "block";
    }

    var modals = document.getElementsByClassName('modal');
    var closeButtons = document.getElementsByClassName('close');

    Array.from(closeButtons).forEach(function(close) {
        close.onclick = function() {
            Array.from(modals).forEach(function(modal) {
                modal.style.display = "none";
            });
        };
    });

    window.onclick = function(event) {
        if (event.target.classList.contains('modal')) {
            event.target.style.display = "none";
        }
    };
</script>
{% endblock %}
