{% extends 'base_coordinador.html' %}

{% block title %}Listado de Informes Confidenciales{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Listado de Informes Confidenciales</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Estudiante</th>
                    <th>Práctica</th>
                    <th>Nota</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for informe in informes %}
                    <tr>
                        <td>{{ informe.ficha_inscripcion.estudiante.usuario.first_name }} {{ informe.ficha_inscripcion.estudiante.usuario.last_name }}</td>
                        <td>{{ informe.ficha_inscripcion.practica }}</td>
                        <td>{{ informe.nota }}</td>
                        <td>
                            <a href="{% url 'editar_informe_confidencial' informe.id %}" class="btn btn-primary">Ver / Confirmar Nota</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">No hay informes disponibles.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
