{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Estudiantes</title>
    <link rel="stylesheet" href="{% static 'css/listado_estudiantes.css' %}">
    <script src="{% static 'js/busqueda_estudiantes.js' %}" defer></script>
</head>
<body>
    <div class="container">
        <div class="form-header">
        <h1>LISTADO DE ESTUDIANTES</h1>
        <!-- Botón para añadir estudiantes -->
        <div class="button-container">
            <button onclick="window.location.href='{% url 'coordinador:agregar_estudiante' %}'">Agregar Alumno</button>
        </div>
        </div>

    <!-- Barra de búsqueda -->
    <div class="search-container">
            <input type="text" placeholder="Busca por Nombre, Correo, RUT, Domicilio o Carrera">
            <button><img src="{% static 'icons/Search.svg' %}" alt="Buscar"></button>
    </div>

        <!-- Tarjetas de estudiantes -->
        <div class="table-container">
            {% for estudiante in estudiantes %}
            <div class="card">
                <img src="{% static 'icons\Check_circle.svg' %}" style="margin-bottom: 100px; ">
                <div class="card-content">
                    <h2>{{ estudiante.usuario.first_name }} {{ estudiante.usuario.last_name }}</h2>
                    <p>Correo: {{ estudiante.usuario.email }}</p>
                    <p>RUT: {{ estudiante.rut }}</p>
                    <p>Domicilio: {{ estudiante.domicilio }}</p>
                    <p>Carrera: {{ estudiante.carrera }}</p>
                </div>
                <div class="card-actions">
                    <button onclick="window.location.href='{% url 'coordinador:editar_estudiante' estudiante.pk %}'">
                        <img src="{% static 'icons/Edit.svg' %}" alt="Editar">
                    </button>
                    <button onclick="window.location.href='{% url 'coordinador:detalle_estudiante' estudiante.pk %}'">
                        <img src="{% static 'icons/Detalle.svg' %}" alt="Ver Detalle">
                    </button>
                    <button onclick="if(confirm('¿Estás seguro de que deseas desbloquear a este usuario?')) { window.location.href='{% url 'desbloquear_usuario' estudiante.pk %}'; }">
                        <img src="{% static 'icons/Confirm.svg' %}" alt="Desbloquear">
                    </button>
                    <button onclick="if(confirm('¿Estás seguro de que deseas bloquear a este usuario?')) { window.location.href='{% url 'bloquear_usuario' estudiante.pk %}'; }">
                        <img src="{% static 'icons/X.svg' %}" alt="Bloquear">
                    </button>
                </div>
            </div>
            {% empty %}
            <p>No hay estudiantes registrados.</p>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}
