{% extends 'base_coordinador.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Estudiantes</title>
    <link rel="stylesheet" href="{% static 'css/listado_estudiantes.css' %}">
    <script src="{% static 'js/busqueda_estudiantes.js' %}" defer></script>
</head>
<body>
    <div class="container">
        <div class="form-header">
            <h1>LISTADO DE ESTUDIANTES</h1>
            <!-- Botón para añadir estudiantes -->
            <div class="button-container">
                <button onclick="window.location.href='{% url 'coordinador:agregar_estudiante' %}'">Agregar Alumno</button>
            </div>
        </div>

        <!-- Barra de búsqueda -->
        <div class="search-container">
            <input type="text" placeholder="Busca por Nombre, Correo, RUT, Domicilio o Carrera">
            <button><img src="{% static 'icons/Search.svg' %}" alt="Buscar"></button>
        </div>

        <!-- Filtros por estado -->
        <div class="filter-container">
            <form method="GET" action="{% url 'coordinador:listar_estudiantes' %}">
                <label for="estado">Filtrar por estado:</label>
                <select name="estado" id="estado" onchange="this.form.submit()">
                    <option value="Todos" {% if request.GET.estado == 'Todos' %}selected{% endif %}>Todos</option>
                    <option value="activo" {% if request.GET.estado == 'activo' or request.GET.estado == None %}selected{% endif %}>Activos</option>
                    <option value="inactivo" {% if request.GET.estado == 'inactivo' %}selected{% endif %}>Inactivos</option>
                </select>
            </form>
        </div>
        
        <div>
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          </div>
        <!-- Tarjetas de estudiantes -->
        <div class="table-container">
            {% for estudiante in estudiantes %}
            <div class="card">
                <img src="{% static 'icons/Check_circle.svg' %}" style="margin-bottom: 100px; ">
                <div class="card-content">
                    <h2>{{ estudiante.usuario.first_name }} {{ estudiante.usuario.last_name }}</h2>
                    <p>Correo: {{ estudiante.usuario.email }}</p>
                    <p>RUT: {{ estudiante.rut }}</p>
                    <p>Domicilio: {{ estudiante.domicilio }}</p>
                    <p>Carrera: {{ estudiante.carrera }}</p>
                </div>
                <div class="card-actions">
                    <button onclick="window.location.href='{% url 'coordinador:editar_estudiante' estudiante.pk %}'">
                        <img src="{% static 'icons/Edit.svg' %}" alt="Editar">
                    </button>
                    <button onclick="window.location.href='{% url 'coordinador:detalle_estudiante' estudiante.pk %}'">
                        <img src="{% static 'icons/Detalle.svg' %}" alt="Ver Detalle">
                    </button>
                    <button 
                    class="btn-unlock" 
                    onclick="if(confirm('¿Estás seguro de que deseas desbloquear a este usuario?')) { window.location.href='{% url 'autenticacion:desbloquear_usuario' estudiante.pk %}'; }"
                    onmouseover="this.querySelector('img').src='{% static 'icons/Desbloquear.svg' %}'"
                    onmouseout="this.querySelector('img').src='{% static 'icons/Bloquear.svg' %}'">
                    <img src="{% static 'icons/Bloquear.svg' %}" alt="Desbloquear">
                    </button>
                    <button 
                    class="btn-lock" 
                    onclick="if(confirm('¿Estás seguro de que deseas bloquear a este usuario?')) { window.location.href='{% url 'autenticacion:bloquear_usuario' estudiante.pk %}'; }"
                    onmouseover="this.querySelector('img').src='{% static 'icons/Bloquear.svg' %}'"
                    onmouseout="this.querySelector('img').src='{% static 'icons/Desbloquear.svg' %}'">
                    <img src="{% static 'icons/Desbloquear.svg' %}" alt="Bloquear">
                    </button>
                </div>
            </div>
            {% empty %}
            <p>No hay estudiantes registrados.</p>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}
