{% extends 'base_coordinador.html' %}

{% load static %}

{% block content %}

    <div>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rúbrica de Evaluación Informe de Avances</title>
        <link rel="stylesheet" href="{% static 'css/evaluar_informe.css' %}">
    </div>

    <div class="back-button">
        <a href="javascript:history.back()" class="back-arrow">
            <img src="{% static 'icons/arrow_back.svg' %}" alt="Volver" style="width: 30px; height: 30px;">
        </a>
    </div>

    <div class="container">

        <h1>Rúbrica de Evaluación Informe de Avances</h1>
        {% if error %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
        {% endif %}

        <form action="{% url 'evaluar_informe_avances' practica.id %}" method="post">
            {% csrf_token %}
            <legend>Datos del alumno:</legend>

            <div class="input-group">
                <div class="form-group">
                    <label for="nombre_completo">Nombre Completo:</label>
                    <input type="text" id="nombre_completo" name="nombre_completo" value="{{ estudiante.usuario.get_full_name }}" readonly>
                </div>
                <div class="form-group">
                    <label for="rut">Rut:</label>
                    <input type="text" id="rut" name="rut" value="{{ estudiante.rut }}" readonly>
                </div>
            </div>

            <div class="input-group">
                <div class="form-group">
                    <label for="carrera">Carrera:</label>
                    <input type="text" id="carrera" name="carrera" value="{{ estudiante.carrera }}" readonly>
                </div>            
            </div>
            <legend>Datos de la empresa donde se desarrolla la práctica:</legend>

            <div class="input-group">
                <div class="form-group">
                    <label for="razon_social">Nombre o giro de la Empresa:</label>
                    <input type="text" id="razon_socialnombre" name="razon_socialnombre" value="{{ ficha_inscripcion.razon_social }}" readonly>
                </div>
            </div>
            <legend>Datos del supervisor de la práctica:</legend>

            <div class="input-group">
                <div class="form-group">
                    <label for="jefe_directo">Nombre Completo:</label>
                    <input type="text" id="jefe_directo" name="jefe_directo" value="{{ficha_inscripcion.jefe_directo}}" readonly>
                </div>
                <div class="form-group">
                    <label for="telefono_jefe">Teléfono:</label>
                    <input type="text" id="telefono_jefe" name="telefono_jefe" value="{{ficha_inscripcion.telefono_jefe}}" readonly>
                </div>
            </div>

            <div class="input-group">
                <div class="form-group">
                    <label for="correo_jefe">Correo:</label>
                    <input type="text" id="correo_jefe" name="correo_jefe" value="{{ficha_inscripcion.correo_jefe}}" readonly>
                </div>
            </div>

            <legend>Datos del coordinador de prácticas:</legend>

            <div class="input-group">
                <div class="form-group">
                    <label for="nombre_coordinador">Nombre Completo:</label>
                    <input type="text" id="nombre_coordinador" name="nombre_coordinador" value="{{ coordinador.get_full_name }}" readonly>
                </div>
            </div>

    <form>
        {% csrf_token %}

        <legend>Rúbrica de Evaluación:</legend>
<div class="rubrica-section">
    <h3>Sección I: Contenido del Documento</h3>
    <div class="form-group">
        <label for="portada">Portada:</label>
        <input type="text" id="portada" value="{{ rubrica.portada }}" readonly>
    </div>
    <div class="form-group">
        <label for="introduccion">Introducción:</label>
        <input type="text" id="introduccion" value="{{ rubrica.introduccion }}" readonly>
    </div>
    <div class="form-group">
        <label for="objetivo_general">Objetivo General:</label>
        <input type="text" id="objetivo_general" value="{{ rubrica.objetivo_general }}" readonly>
    </div>
    <div class="form-group">
        <label for="objetivos_especificos">Objetivos Específicos:</label>
        <input type="text" id="objetivos_especificos" value="{{ rubrica.objetivos_especificos }}" readonly>
    </div>
    <div class="form-group">
        <label for="caracterizacion_empresa">Caracterización de la Empresa:</label>
        <input type="text" id="caracterizacion_empresa" value="{{ rubrica.caracterizacion_empresa }}" readonly>
    </div>
    <div class="form-group">
        <label for="datos_supervisor">Datos del Supervisor:</label>
        <input type="text" id="datos_supervisor" value="{{ rubrica.datos_supervisor }}" readonly>
    </div>
    <div class="form-group">
        <label for="desarrollo_practica">Desarrollo de la Práctica:</label>
        <input type="text" id="desarrollo_practica" value="{{ rubrica.desarrollo_practica }}" readonly>
    </div>
    <div class="form-group">
        <label for="recomendaciones">Recomendaciones:</label>
        <input type="text" id="recomendaciones" value="{{ rubrica.recomendaciones }}" readonly>
    </div>
    <div class="form-group">
        <label for="conclusiones">Conclusiones:</label>
        <input type="text" id="conclusiones" value="{{ rubrica.conclusiones }}" readonly>
    </div>
    <div class="form-group">
        <label for="anexos">Anexos:</label>
        <input type="text" id="anexos" value="{{ rubrica.anexos }}" readonly>
    </div>
</div>

<div class="rubrica-section">
    <h3>Sección II: Formato</h3>
    <div class="form-group">
        <label for="formato_establecido">Formato Establecido:</label>
        <input type="text" id="formato_establecido" value="{{ rubrica.formato_establecido }}" readonly>
    </div>
    <div class="form-group">
        <label for="tercera_persona">Tercera Persona:</label>
        <input type="text" id="tercera_persona" value="{{ rubrica.tercera_persona }}" readonly>
    </div>
    <div class="form-group">
        <label for="cita_fuente">Cita de Fuente:</label>
        <input type="text" id="cita_fuente" value="{{ rubrica.cita_fuente }}" readonly>
    </div>
    <div class="form-group">
        <label for="extension">Extensión:</label>
        <input type="text" id="extension" value="{{ rubrica.extension }}" readonly>
    </div>
    <div class="form-group">
        <label for="tabla_grafico">Tablas y Gráficos:</label>
        <input type="text" id="tabla_grafico" value="{{ rubrica.tabla_grafico }}" readonly>
    </div>
    <div class="form-group">
        <label for="ortografia">Ortografía:</label>
        <input type="text" id="ortografia" value="{{ rubrica.ortografia }}" readonly>
    </div>
    <div class="form-group">
        <label for="cohesion_coherencia">Cohesión y Coherencia:</label>
        <input type="text" id="cohesion_coherencia" value="{{ rubrica.cohesion_coherencia }}" readonly>
    </div>
    <div class="form-group">
        <label for="ideas_profundizacion">Ideas y Profundización:</label>
        <input type="text" id="ideas_profundizacion" value="{{ rubrica.ideas_profundizacion }}" readonly>
    </div>
    <div class="form-group">
        <label for="roles_impacto">Roles e Impacto:</label>
        <input type="text" id="roles_impacto" value="{{ rubrica.roles_impacto }}" readonly>
    </div>
    <div class="form-group">
        <label for="riqueza_linguistica">Riqueza Lingüística:</label>
        <input type="text" id="riqueza_linguistica" value="{{ rubrica.riqueza_linguistica }}" readonly>
    </div>
</div>

<div class="rubrica-section">
    <h3>Comentarios</h3>
    <div class="form-group">
        <textarea id="comentarios" readonly>{{ rubrica.comentarios }}</textarea>
    </div>
</div>
    
    </form>
</div>
{% endblock %}
