{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contraseña</title>
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
</head>
<body class="contenedor">

    <!-- Contenedor de recuperar contraseña -->
    <div class="password_reset-contenedor">
        <h2>Recuperar contraseña</h2>
        <h3>Por favor, ingresa tu dirección de correo electrónico asociada con tu cuenta. Te enviaremos un enlace para restablecer tu contraseña.</h3>
        
        <div class="inputs-contenedor">
            <h3 class="no-border">Correo electrónico</h3>

            <!-- Mostrar errores de validación -->
            {% if form.errors %}
                <div class="error-message">
                    {{ form.errors.email }} <!-- Muestra el error del campo email -->
                </div>
            {% endif %}

            <form method="post" action="{% url 'custom_password_reset' %}">
                {% csrf_token %}
                <div class="input-password_reset">
                    <input type="email" name="email" required>
                </div>
                <button type="submit" class="btn">Enviar enlace de recuperación</button>
            </form>
        </div>
    </div>

</body>
</html>
