{% load i18n %}{% autoescape off %}
{% blocktrans %}Usted recibe este correo, ya que solicitó recuperar su contraseña de acceso al sistema de Gestión de Prácticas de la Universidad Autonóma de Chile{% endblocktrans %}
{% trans "Por favor haga click en el siguiente enlace" %}
{% block reset_link %}
    {{ protocol }}://{{ domain }}{% url 'custom_password_reset_confirm' uidb64=uidb64 token=token %}
{% endblock %}

{% trans "Que tenga un buen dia" %}

{% blocktrans %}Universidad Autonóma de Chile{% endblocktrans %}
{% endautoescape %}
