{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primer inicio de sesión</title>
    <link rel="stylesheet" href="{% static 'css/password_change.css' %}">
</head>
<body class="contenedor" style="background-image: url('{% static 'img/fondo.jpg' %}'); background-size: cover;">
    
    <div class="login-container">
        <div class="login-box">
            <img src="{% static 'img/universidad_logo.png' %}" alt="Logo" class="logo">
            <h2>Primer inicio de sesión</h2>
            <h3>Por tu seguridad debes cambiar tu contraseña.</h3>
            
            <div class="inputs-contenedor">
                {% if request.user.profile.first_session == 'Si' %}
                    <p>Ingresa la contraseña entregada por los administradores y luego establece una nueva contraseña.</p>
                {% else %}
                    <h3 class="no-border">Cambio de contraseña</h3>
                    <p>Introduce la contraseña antigua, luego establece una nueva contraseña.</p>
                {% endif %}

                <!-- Mostrar errores de validación -->
                {{ form.old_password.errors }}
                <form method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="password" name="old_password" required placeholder="Contraseña antigua">
                    </div>
                    {{ form.new_password1.errors }}
                    <div class="input-group">
                        <input type="password" name="new_password1" required placeholder="Nueva contraseña">
                    </div>
                    {{ form.new_password2.errors }}
                    <div class="input-group">
                        <input type="password" name="new_password2" required placeholder="Confirmar nueva contraseña">
                    </div>

                    <button type="submit" class="btn btn-red">Cambiar Contraseña</button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>
