{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer contraseña</title>
    <!-- Fuente JOST -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- Estilos CSS -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
</head>
<body class="contenedor">

    <!-- Contenedor de restablecer contraseña -->
    <div class="password_reset-contenedor {% if form.new_password1.errors or form.new_password2.errors %}error{% endif %}">
        <h2>Ingrese la Nueva Contraseña</h2>
        
        <!-- Formulario para restablecer contraseña -->
        <form method="post">
            {% csrf_token %}
            
            <div class="input-password_reset">
                <label for="{{ form.new_password1.id_for_label }}" class="visually-hidden">Nueva contraseña</label>
                {{ form.new_password1 }}
                
                {% if form.new_password1.errors %}
                    <div class="errorlist">
                        {{ form.new_password1.errors }}
                    </div>
                {% endif %}
            </div>
            
            <div class="input-password_reset">
                <label for="{{ form.new_password2.id_for_label }}" class="visually-hidden">Confirmar contraseña</label>
                {{ form.new_password2 }}
                
                {% if form.new_password2.errors %}
                    <div class="errorlist">
                        {{ form.new_password2.errors }}
                    </div>
                {% endif %}
            </div>
    
            <button type="submit" class="btn">Restablecer contraseña</button>
        </form>
    </div>

</body>
</html>
