{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contraseña completado</title>
    <!--     Fuente JOST    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!--     Estilos CSS    -->
    <link rel="stylesheet" href="{% static "css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "css/password_reset.css" %}">
</head>
<body class="contenedor">

    <!-- Contenedor -->
    <div class="password_reset-contenedor">
        <div class="inputs-contenedor">
            <h2>Cambio de Contraseña Completado.</h2>
            <h3>Su contraseña ha sido establecida.</h3>
            <h3>Ahora puede iniciar sesión. </h3>
            <a href="{% url 'home' %}">
                <button class="btn">Volver al inicio</button>
            </a>
        </div>
    </div>

</body>
</html>