{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contraseña Cambiada Correctamente</title>
    <link rel="stylesheet" href="{% static 'css/password_change.css' %}">
</head>
<body class="contenedor">

    <!-- Contenedor de contraseña cambiada correctamente -->
    <div class="password_change_done-contenedor">
        <h2>Contraseña Cambiada Correctamente</h2>
        <h3>Tu contraseña ha sido cambiada exitosamente.</h3>
        
        <div class="inputs-contenedor">
            {% if request.user.profile.first_session == 'Si' %}
                <h3 class="no-border">Primer inicio de sesión</h3>
                <p>Ahora revisa tu correo y confirma tu dirección de correo electrónico. Luego, presiona "Aceptar".</p>
                <form method="post" action="{% url 'pre_ccheck_profile' %}">
                    {% csrf_token %}
                    <input type="email" name="email" value="{{ request.user.email }}" class="form-control" required>
                    <br/>
                    <button type="submit" class="btn">Aceptar</button>
                </form>
            {% else %}
                <h3 class="no-border">Contraseña Cambiada Correctamente</h3>
                <p>Puedes volver a tu perfil haciendo clic <a href="{% url 'check_profile' %}">Aquí</a>.</p>
            {% endif %}
        </div>
    </div>

</body>
</html>
