{% extends 'base_estudiante.html' %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Listado de Prácticas</title>
        <link rel="stylesheet" href="{% static 'css/listado_practicas.css' %}">
    </head>
    <body>
        <div class="container">
            
            <div class="back-button">
                <a href="{% url 'estudiantes_main' %}">
                    <button type="button" class="image-button">
                        <img src="{% static 'img/arrow_back.svg' %}" alt="Volver" style="width: 30px; height: 30px;">
                    </button>
                </a>
            </div>

            <!-- Tarjetas de prácticas -->
            <div class="table-container">
                {% for practica in practicas %}
                <div class="card">
                    <img src="{% static 'icons/Check_circle.svg' %}" style="margin-bottom: 100px;">
                    <div class="card-content">
                        <span class="practica-label"><strong>{{ practica.practica1|yesno:"Práctica I,Práctica II" }}</strong></span><br>
                        Estado: {{ practica.get_estado_display }}<br>
                        Nota: {{ practica.nota }}<br>
                        <button class="detalle-btn">Detalle</button>
                    </div>
                </div>
                {% empty %}
                <p>No hay prácticas registradas.</p>
                {% endfor %}
            </div>
        </div>
    </body>
{% endblock %}