{% extends 'base_estudiante.html' %}

{% load static %}  

{% block title %}Detalle de Práctica Profesional{% endblock %}

{% block content %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/detalle_practica.css' %}">
<link rel="stylesheet" href="{% static 'css/informe_de_avance.css' %}">

<div class="main-content">
    <a href="javascript:history.back()" class="back-arrow">
        <img src="{% static 'icons/arrow_back.svg' %}" alt="Volver" style="width: 30px; height: 30px;">
    </a>
    
    <h1>{{ practica.practica1|yesno:"PRÁCTICA I,PRÁCTICA II" }}</h1>
    
    <div class="card">
        <div class="card-header">
            {% if practica.estado == 'Pendiente' %}
                <img src="{% static 'icons/icon_info.svg' %}" style="width: 25px; margin-right: 10px;">
            {% elif practica.estado == 'Aprobada' %}
                <img src="{% static 'icons/Check_circle_white.svg' %}" style="width: 25px; margin-right: 10px;">
            {% endif %}
            <span>Ficha de Inscripción Práctica Profesional</span>
        </div>
        <div class="card-data">
        <p>Estado: {{ practica.get_estado_display }}</p>
        {% if practica.estado == 'Pendiente' %}
            <a href="{% url 'ver_ficha' practica.id %}">
                <button class="action-button">Ver ficha</button>
            </a>
        {% elif practica.estado == 'Aprobada' %}
            <button class="action-button">Descargar carta de aprobación</button>
            <a href="{% url 'ver_ficha' practica.id %}">
                <button class="action-button">Ver ficha</button>
            </a>
        {% endif %}
        </div>
    </div>
    
    {% if practica.estado == "Pendiente" %}
    <div class="card">
        <div class="card-header">
            <img src="{% static 'icons/icon_candado.svg' %}" style="width: 25px; margin-right: 10px;">
            <span>Informe de avances</span>
        </div>
        <div class="card-data">
            <p>El Informe de Avance es un documento que el estudiante presenta a la mitad de su práctica profesional. En este informe, el estudiante detalla las actividades realizadas hasta el momento, los logros alcanzados y los desafíos enfrentados. Este documento es crucial para que el supervisor y el director de carrera evalúen el progreso del estudiante y proporcionen orientación adicional si es necesario. Asegúrate de seguir las pautas establecidas y de enviarlo antes de la fecha límite para garantizar una revisión efectiva.</p>
            
            <a href="{% url 'descargar_plantilla' practica.id %}">
                <button class="action-button">Descargar plantilla</button>
            </a>
        </div>
    </div>
    {% endif %}

    {% if practica.estado == "Aprobada" %}
    {% if intentos_restantes_avances == 2 %}
    <div class="card">
        <div class="card-header">
            <img src="{% static 'icons/Loader.svg' %}" style="width: 25px; margin-right: 10px;">
            <span>Informe de avances</span>
        </div>
        <div class="card-data">
                <p>El Informe de Avance es un documento que el estudiante presenta a la mitad de su práctica profesional. En este informe, el estudiante detalla las actividades realizadas hasta el momento, los logros alcanzados y los desafíos enfrentados. Este documento es crucial para que el supervisor y el director de carrera evalúen el progreso del estudiante y proporcionen orientación adicional si es necesario. Asegúrate de seguir las pautas establecidas y de enviarlo antes de la fecha límite para garantizar una revisión efectiva.</p>
                <div class="form-container">
                    <form method="POST" enctype="multipart/form-data" class="custom-form">
                        {% csrf_token %}
                        <button type="button" class="submit-button"  id="btnSubirInformeAvance" >Subir informe de avances</button>
                    </form>
                    <a href="{% url 'descargar_plantilla' practica.id %}">
                        <button class="action-button" >Descargar plantilla</button>
                    </a>
                </div>
        </div>
    </div>
    {% endif %}
    {% if intentos_restantes_avances == 1 %}
    <div class="card">
        <div class="card-header">
            <img src="{% static 'icons/Check_circle_white.svg' %}" style="width: 25px; margin-right: 10px;">
            <span>Informe de avances</span>
        </div>
        <div class="card-data">
            <p>El Informe de Avance es un documento que el estudiante presenta a la mitad de su práctica profesional. En este informe, el estudiante detalla las actividades realizadas hasta el momento, los logros alcanzados y los desafíos enfrentados. Este documento es crucial para que el supervisor y el director de carrera evalúen el progreso del estudiante y proporcionen orientación adicional si es necesario. Asegúrate de seguir las pautas establecidas y de enviarlo antes de la fecha límite para garantizar una revisión efectiva.</p>
            <div class="form-container">
                <form method="POST" enctype="multipart/form-data" class="custom-form">
                    {% csrf_token %}
                    <button type="button" class="submit-button" id="btnSubirInformeAvance">Subir informe de avances</button>
                </form>
                <a href="{% url 'descargar_plantilla' practica.id %}">
                    <button class="action-button" >Descargar plantilla</button>
                </a>
            </div>
        </div>
        
    </div>
    {% endif %}
    {% if intentos_restantes_avances == 0 %}
    <div class="card">
        <div class="card-header">
            <img src="{% static 'icons/Check_circle_white.svg' %}" style="width: 25px; margin-right: 10px;">
            <span>Informe de avances</span>
        </div>
        <div class="card-data">
                <p>El Informe de Avance es un documento que el estudiante presenta a la mitad de su práctica profesional. En este informe, el estudiante detalla las actividades realizadas hasta el momento, los logros alcanzados y los desafíos enfrentados. Este documento es crucial para que el supervisor y el director de carrera evalúen el progreso del estudiante y proporcionen orientación adicional si es necesario. Asegúrate de seguir las pautas establecidas y de enviarlo antes de la fecha límite para garantizar una revisión efectiva.</p>
                <div class="form-container2">
                    <a href="{% url 'descargar_plantilla' practica.id %}">
                        <button class="action-button" >Descargar plantilla</button>
                    </a>
                    <form method="POST" enctype="multipart/form-data" class="custom-form">
                        {% csrf_token %}
                        <button type="button" class="submit-button" id="btnSubirInformeAvance" style="opacity: 0.5;" disabled >Subir informe de avances</button>
                    </form>
                </div>
                 
        </div>
    </div>
    {% endif %}
    {% endif %}

    <div class="card">
        <div class="card-header">
                <img src="{% static 'icons/icon_candado.svg' %}" style="width: 25px; margin-right: 10px;">
            <!--<img src="{% static 'icons/In_Process.svg' %}" style="width: 25px; margin-right: 10px;">-->
            <!--<img src="{% static 'icons/Check_circle_white.svg' %}" style="width: 25px; margin-right: 10px;">-->
            <span>Autoevaluación</span>
        </div>
        <div class="card-data">
        <p>La Autoevaluación es un documento que el estudiante completa al final de su práctica profesional. En este informe, el estudiante reflexiona sobre su desempeño, habilidades adquiridas y aprendizajes. Es fundamental para la evaluación final y se debe enviar junto con el informe final de la práctica.</p>
        <button class="action-button">Ver autoevaluación</button>
        <a href="{% url 'autoevaluacion' practica.id %}">
            <button class="action-button">Llenar autoevaluación</button>
        </a>
    </div>
    </div>
    {% if practica.estado == "Aprobada" %}
    <div class="card">
        <div class="card-header">
            {% if intentos_restantes_avances == 2 %}
                <img src="{% static 'icons/icon_candado.svg' %}" style="width: 25px; margin-right: 10px;">
            {% elif intentos_restantes_avances < 2 %}
                {% if intentos_restantes_final == 2 %}
                <img src="{% static 'icons/Loader.svg' %}" style="width: 25px; margin-right: 10px;">
                {% elif intentos_restantes_final < 2 %}
                <img src="{% static 'icons/Check_circle_white.svg' %}" style="width: 25px; margin-right: 10px;">
                {% endif %}
            {% endif %}
            <span>Informe Final</span>
        </div>
        <div class="card-data">
            <p>El Informe Final es un documento que el estudiante presenta al finalizar su práctica profesional. Detalla las actividades realizadas, los logros alcanzados y una reflexión sobre la experiencia.</p>
            
            {% if intentos_restantes_avances < 2 %}
                <div class="form-container">
                    <form method="POST" enctype="multipart/form-data" id="formSubirInformeFinal" class="custom-form">
                        {% csrf_token %}
                        {% if intentos_restantes_final == 2 %}
                            <button type="button" class="action-button" id="btnSubirInformeFinal">Subir informe final</button>
                        {% elif intentos_restantes_final == 1 %}
                            <button type="button" class="action-button" id="btnSubirInformeFinal">Subir informe final</button>
                            <a href="{{ practica.archivo_informe_final.url }}" download class="action-button">
                                Descargar Informe Final
                            </a>
                        {% elif intentos_restantes_final == 0 %}
                            <a href="{{ practica.archivo_informe_final.url }}" download class="action-button">
                                Descargar Informe Final
                            </a>
                            <button type="button" class="action-button" id="btnSubirInformeFinal" style="opacity:0.5; margin-left: 4px;" disabled>Subir informe final</button>
                        {% endif %}
                    </form>
                </div>
            {% else %}
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>

<!-- Modal para subir archivo -->
<div id="modalSubirArchivo" class="modal">
    <div class="modal-content">
        <form method="POST" enctype="multipart/form-data" id="formSubirArchivoFinal" style="width: 100%;" class="form-upload">
            {% csrf_token %}
            <label class="file-upload" for="archivo" id="uploadLabel">
                <h2>Subir Informe de Avances</h2>
                <img src="{% static 'Subir_png.svg' %}" alt="Icono de subir archivo">
                <p>Busca un archivo o arrástralo aquí</p>
                <input type="file" id="archivo" name="archivo_informe_avances" accept=".docx,.pdf">
                <div id="fileDetails" class="file-details" style="display: none;">
                    <p id="fileName"></p>
                    <img src="{% static 'Delete.svg' %}" id="deleteFile" alt="Eliminar archivo">
                </div>
            </label>
            <button class="close-btn" type="submit">Subir Archivo</button>
        </form>
    </div>
</div>

<!-- Modal para subir archivo de informe final -->
<div id="modalSubirArchivoFinal" class="modal">
    <div class="modal-content">
        <form method="POST" enctype="multipart/form-data" id="formSubirArchivoFinal" style="width: 100%;" class="form-upload">
            {% csrf_token %}
            <label class="file-upload" for="archivoFinal" id="uploadLabelFinal">
                <h2>Subir Informe Final</h2>
                <img src="{% static 'Subir_png.svg' %}" alt="Icono de subir archivo">
                <p>Busca un archivo o arrástralo aquí</p>
                <input type="file" id="archivoFinal" name="archivo_informe_final" accept=".docx,.pdf">
                <div id="fileDetailsFinal" class="file-details" style="display: none;">
                    <p id="fileNameFinal"></p>
                    <img src="{% static 'Delete.svg' %}" id="deleteFileFinal" alt="Eliminar archivo">
                </div>
            </label>
            <button type="submit" class="close-btn">Subir Archivo</button>
        </form>
    </div>
</div>

<script src="{% static 'js/informe_de_avance.js' %}"></script>

{% endblock %}
