{% extends 'base_estudiante.html' %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Listado de Prácticas</title>
        <link rel="stylesheet" href="{% static 'css/listado_practicas.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="form-header">
                <h1>Prácticas</h1>
                <div class="button-container">
                    <button onclick="window.location.href='{% url 'dashboard' %}'">Panel de control</button>
                </div>
                <!-- Botón para añadir nueva práctica -->
                <div class="button-container">
                    <button onclick="window.location.href='{% url 'inscripcion_practica' %}'">Ingresar solicitud de práctica</button>
                </div>
            </div>

            <!-- Tarjetas de prácticas -->
            <div class="table-container">
                {% for ficha in fichas_inscripcion %}
                <div class="card" style="height: 230px;">
                    <img src="{% static 'icons/Check_circle.svg' %}" style="margin-bottom: 100px;">
                    <div class="card-content">
                        <span class="practica-label">
                            <strong>
                                {% if ficha.practica1 %}
                                    Práctica I
                                {% elif ficha.practica2 %}
                                    Práctica II
                                {% else %}
                                    Sin práctica seleccionada
                                {% endif %}
                            </strong>
                        </span><br>
                        Estado: {% if ficha.practica.estado == 'finalizada' %}
                            Finalizada
                        {% elif ficha.estado == 'Jefe Carrera' %}
                            Pendiente
                        {% else %}
                            {{ ficha.practica.get_estado_display }}
                        {% endif %}<br>
                        Fecha de Inscripción: {{ ficha.practica.fecha_inscripcion }} <br>
                        Nota: 
                        {% if ficha.practica.nota %}
                            {{ ficha.practica.nota }}
                        {% else %}
                            No disponible
                        {% endif %} <br>
                        <a href="{% url 'detalle_practica' ficha.id %}">
                            <button type="button" class="detalle-btn">Detalle</button>
                        </a>
                    </div>
                </div>
                {% empty %}
                <p>No hay prácticas registradas.</p>
                {% endfor %}
            </div>
        </div>
    </body>
{% endblock %}