{% extends 'base_estudiante.html' %}

{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal Estudiante</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">  <!-- Ajusta la ruta según tu estructura de archivos -->
</head>
<body>
    <header>
        <h1>Bienvenido, Estudiante</h1>
    </header>
    <main>
        <p>Esta es la página principal para estudiantes.</p>
    </main>
    <footer>
        <p>&copy; 2024 Gestión de Prácticas</p>
    </footer>
</body>
</html>
