{% extends 'base_estudiante.html' %}

{% load static %}

{% block content %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ver Solicitud de Práctica</title>
        <link rel="stylesheet" href="{% static 'css/inscripcion_practica.css' %}">
    </head>

    <div class="container">
        <h1>Detalles de la Solicitud de Práctica</h1>
        
        <div class="form-container">
            <legend>Datos del estudiante:</legend>
            
            <div class="form-group">
                <label>Nombre Completo:</label>
                <p>{{ solicitud.nombre_completo }}</p>
            </div>
        
            <div class="form-group">
                <label>Rut:</label>
                <p>{{ solicitud.rut }}</p>
            </div>
        
            <div class="form-group">
                <label>Domicilio:</label>
                <p>{{ solicitud.domicilio }}</p>
            </div>
        
            <div class="form-group">
                <label>Número de Teléfono:</label>
                <p>{{ solicitud.telefono }}</p>
            </div>
        
            <div class="form-group">
                <label>Correo Electrónico:</label>
                <p>{{ solicitud.correo }}</p>
            </div>
        
            <div class="form-group">
                <label>Carrera:</label>
                <p>{{ solicitud.carrera }}</p>
            </div>
        
            <legend>Datos de la Empresa/Institución:</legend>
            
            <div class="form-group">
                <label>Razón Social:</label>
                <p>{{ solicitud.razon_social }}</p>
            </div>
        
            <div class="form-group">
                <label>Dirección:</label>
                <p>{{ solicitud.direccion_empresa }}</p>
            </div>
        
            <div class="form-group">
                <label>Jefe Directo:</label>
                <p>{{ solicitud.jefe_directo }}</p>
            </div>
        
            <div class="form-group">
                <label>Cargo del Jefe Directo:</label>
                <p>{{ solicitud.cargo }}</p>
            </div>
        
            <div class="form-group">
                <label>Teléfono del Jefe Directo:</label>
                <p>{{ solicitud.telefono_jefe }}</p>
            </div>
        
            <div class="form-group">
                <label>Correo del Jefe Directo:</label>
                <p>{{ solicitud.correo_jefe }}</p>
            </div>
        
            <legend>Datos de la Práctica:</legend>
            
            <div class="form-group">
                <label>Fecha de Inicio:</label>
                <p>{{ solicitud.fecha_inicio }}</p>
            </div>
        
            <div class="form-group">
                <label>Fecha de Término:</label>
                <p>{{ solicitud.fecha_termino }}</p>
            </div>

            <div class="form-group">
                <label>Horario de Trabajo:</label>
                <p>{{ solicitud.horario_trabajo }}</p>
            </div>
            
            <div class="form-group">
                <label>Horario de Colación:</label>
                <p>{{ solicitud.horario_colacion }}</p>
            </div>

            <div class="form-group">
                <label>Cargo a Desarrollar:</label>
                <p>{{ solicitud.cargo_desarrollar }}</p>
            </div>

            <div class="form-group">
                <label>Departamento en el que Trabajará:</label>
                <p>{{ solicitud.depto_trabajar }}</p>
            </div>

            <div class="form-group">
                <label>Actividades a Realizar:</label>
                <p>{{ solicitud.actividades_realizar }}</p>
            </div>

            <div class="form-group">
                <label>Estado de la Solicitud:</label>
                <p>
                    {% if solicitud.estado == 'Aprobada' %}
                        <span class="badge bg-success">{{ solicitud.estado }}</span>
                    {% elif solicitud.estado == 'Rechazada' %}
                        <span class="badge bg-danger">{{ solicitud.estado }}</span>
                    {% else %}
                        <span class="badge bg-warning">{{ solicitud.estado }}</span>
                    {% endif %}
                </p>
            </div>
            <button>
                <a href="{% url 'listar_practicas' %}" class="btn btn-succes">Volver</a>
            </button>

        </div>
    </div>

{% endblock %}
